*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.geral{
    background-color: beige;
    padding: 20px 120px;

}
.cabe{
    background-color: aqua;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 50px;
}
.tudo{
    display: flex;
}
.texto{
    padding: 20px;
   
}
.img{
   

}
